<div id="body">	 
    <div id="div1" style="opacity: 0.8; background-color: black; margin-left: 15%; margin-right: 15%;">
        <div id="div2">                
            <p id="p1" style="text-align: center;">
                Please enter the required details, to Log in!
            </p>
            <form id="div3" action="#" (submit)=Act() method="POST" style="text-align: center; padding-top: 1%;height: 230px;padding-bottom:10%; margin-left: 25%; margin-right: 25%">
                <img src="../assets/S1.png" alt="Yolo" width="30px" height="30px"><input name="User" class="inp" type="username" placeholder="Username" required><br><br>
                <img src="../assets/S2.png" alt="Yolo" width="30px" height="30px"><input name="Pass" class="inp" type="password" placeholder="Password" required><br>
                <input name="Submit" id="submit" type="submit" value="Log In" > 
            </form>
        </div>                       
    </div>       
</div>
