#body
{
    font-size: 20px;    
    color: goldenrod;
    height: 530px;    
}
#submit
{    
    font-size: 20px;
    background-color: red;
    color:black;
    border: 0px;
    border-radius: 3px;
    padding: 15px;
    cursor: pointer;
    margin-top: 10%;
    margin-bottom: 20px;    
}
#submit:hover
{
    background-color: black;
    color: red
}
#div1
{
    position:relative; 
    margin:10px; 
    overflow: auto;
    overflow-y:scroll;    
    height:500px; 
    top:15px;
    box-shadow:2px 3px 10px black;
    border-radius: 5px;
} 
#div2
{
    margin: 4%;
}
#div3
{
    background-color: floralwhite;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    height: 50px; 
    box-shadow: 2px 3px 10px black;
    border-radius: 5px;
}
.inp
{
    margin-top: 2%;    
    height: 30px;    
}