#d1
{
    background-color: lightpink;
    width: 83.5%;    
    margin: auto;
    border: 3px solid black;    
    margin-top: 2%;
    padding-bottom: 20px;
}
.Img
{
    border: 3px solid black;    
}
