#d1
{
    background-color: lightpink;
    width: 83.5%;    
    margin: auto;
    border: 3px solid black;    
    margin-top: 2%;
}
.Img
{
    border: 3px solid black;    
}
.d2
{
    width: 49%;
}