<div id="body">	 
		<div id="div1" style="opacity: 0.8; background-color: black; margin-left: 15%; margin-right: 15%;">
            <div id="div2">                
                <p id="p1" style="text-align: center;">
                    Please enter the required details.
                </p>
                <form id="div3" action="#" (submit)=A1() method="POST" style="text-align: center; padding-top: 25px;">
                    <img src="../assets/S1.png" alt="Yolo" width="30px" height="30px"><input name="name" class="inp" type="text" placeholder="Name" required><br><br>
                    <img src="../assets/S3.png" alt="Yolo" width="30px" height="30px"><input name="age" class="inp" type="number" placeholder="Age" required><br><br>
                    <img src="../assets/S4.png" alt="Yolo" width="30px" height="30px"><input name="country" class="inp" type="text" placeholder="Country" required><br><br>
                    <img src="../assets/S5.png" alt="Yolo" width="30px" height="30px"><input name="E-mail" class="inp" type="text" placeholder="E-mail" required><br><br>
                    <img src="../assets/S6.png" alt="Yolo" width="30px" height="30px"><input name="Phone" class="inp" type="number" placeholder="Cell Number" required><br><br>
                    <img src="../assets/S7.png" alt="Yolo" width="30px" height="30px"><input name="Address" class="inp" type="text" placeholder="Address" required><br><br>
                    <img src="../assets/S2.png" alt="Yolo" width="30px" height="30px"><input name="Pass" class="inp" type="password" placeholder="Password" required><br>
                    <input name="Submit" id="submit" type="submit" value="Sign Up"> 
                </form>
            </div>                       
        </div>       
</div>