<div style="background-color: antiquewhite;">
    <div style="text-align: center; padding: 20px;"><h1>Our product highlight for this Month</h1></div>
    <div class="container">        
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>         
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../assets/C1.jpg" alt="Los Angeles" style="width:100%; height: 500px;" class="Img">
                </div>      
                <div class="item">
                    <img src="../assets/C2.jpg" alt="Chicago" style="width:100%; height: 500px;" class="Img">
                </div>          
                <div class="item">
                    <img src="../assets/C3.jpg" alt="New york" style="width:100%; height: 500px;" class="Img">
                </div>
                <div class="item">
                    <img src="../assets/C4.jpg" alt="New york" style="width:100%; height: 500px;" class="Img">
                </div>
            </div>          
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>  
    <div id="d1">
        <div style="text-align: center; padding: 20px;"><h1>What are Cosmetic Products?</h1></div> 
        <div style="width: 100%; display: flex; margin: 1%;"> 
            <div class="d2" style="text-align: justify;">
                <p>Cosmetics are a category of health and beauty products that are used to care for the face and body, or used to accentuate or change a person's appearance. Though cosmetics are commonly thought of as only makeup used to alter a person's appearance, cosmetics can also refer to a number of products used to care for the skin and the body, as well as those used to add fragrance to it. There are a large number of cosmetics available under these various categories, each designed for different purposes and featuring different characteristics.</p>
                <p>Cosmetics are widely used and accepted in many different cultures. The popularity of cosmetics can be attributed to the creative self-expression and self-identity aspect. Makeup and cosmetics can be used to subtly enhance natural features or create a brand new, out-of-this-world look. The cosmetic and makeup industry is worth billions of dollars and continues to increase due to the growing popularity and acceptance of makeup and cosmetics.</p>
            </div>
            <div class="d2">
                <img src="../assets/H1.jpg" alt="Image" width="90%" height="300px" style="float: right;">
            </div>
        </div>  
        <hr style="background-color: black; height: 1px; border: none;">
        <div style="text-align: center; padding: 20px;"><h1>Why are they Used?</h1></div> 
        <div style="width: 100%; display: flex; margin: 1%;"> 
            <div class="d2">
                <img src="../assets/H2.jpg" alt="Image" width="90%" height="300px" style="float: left; margin: 1%;">
            </div>
            <div class="d2" style="text-align: justify; float: right;">
                <p>Cosmetics have been in use for thousands of years. The absence of regulation of the manufacture and use of cosmetics, as well as the absence of scientific knowledge regarding the effects of various compounds on the human body for much of this time period, led historically to a number of negative adverse effects upon those who used cosmetics, including deformities, blindness and in some cases death. Examples of the prevalent usage of harmful cosmetics include the use of ceruse (white lead) throughout a number of different cultures, such as during the Renaissance in the West, and blindness caused by the mascara Lash Lure during the early 20th century.</p>
                <p>One of the earliest cultures to use cosmetics was ancient Egypt, where both Egyptian men and women used makeup to enhance their appearance. The use of black kohl eyeliner and eyeshadows in dark colours such as blue, red, and black was common, and was commonly recorded and represented in Egyptian art, as well as being seen in Egyptian hieroglyphs.</p>
            </div>            
        </div>  
    </div>    
</div>